/* Mobile Portrait View */

@media screen and (max-width:767px) {
  * {
    box-sizing: border-box;
  }
  .left,
  .right,
  .copyright-txt,
  .design-by,
  .headertop .left,
  .headertop .right {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .center {
    width: 100%;
  }
  .container {
    width: auto;
    padding: 0 20px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .wrap_one {
    width: auto;
    text-align: center;
  }
  .header {
    width: 100%;
    padding: 0;
    position: relative!important;
    background-color: #222933!important;
  }
  .logo {
    float: none;
    text-align: center;
    padding: 20px 0 !important;
    position: relative;
    width: auto;
  }
  .logo h2 {
    text-align: center;
  }
  .logo p {
    text-align: center;
  }
  #sidebar {
    width: 100%;
    float: none;
  }
  .widget-column-2 {
    padding: 0;
    border: 0;
  }
  .content-area {
    width: auto;
    margin: 0;
    padding: 50px 20px;
  }
  .site-main {
    width: auto;
    margin: 0;
    padding: 0 0 20px;
    float: none;
  }
  .copyright-wrapper {
    text-align: center;
  }
  h2.section_title {
    text-align: center;
  }
  .BlogPosts {
    float: none;
    width: auto;
    margin: 0 0 10%;
  }
  .wpcf7 input[type="text"],
  .wpcf7 input[type="tel"],
  .wpcf7 input[type="email"],
  .wpcf7 textarea {
    width: 100%;
  }
  input.search-field {
    width: 66%;
  }
  .toggle {
    margin: 0 auto;
  }
  .copyright-txt {
    padding: 15px 0;
  }
  .header .container {
    border-bottom: none;
    padding: 0;
  }
  .row_area {
    margin: 0;
  }
  .footerleft {
    float: none;
    text-align: center;
  }
  body.home .page_content {
    padding: 50px 0;
  }
  .col-columns-2 {
    width: 100%;
    padding: 25px 15px;
    box-sizing: border-box;
    float: none;
  }
  .site-navigation .menu li {
    padding: 0!important;
  }
  .site-navigation .menu ul a,
  .site-navigation .menu ul ul a {
    color: #FFF!important;
  }
  body.wp-custom-logo .logo{
	  padding:20px 0;
  }
  #navigation{
	  float:none;
	  text-align:center;
  }
  #top-social{
	  float:none;
	  text-align:center;	  
  }
  .social-icons{
	  margin-top:0px;
  }
  .transheader{ position:relative !important; background-color:#222933 !important;}
  .transfooter{ position:relative !important; background-color:#222933 !important;}
  .main-navigation ul li a{line-height:inherit;}
}


/* Mobile Landscape View */

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container,
  .content-area {
    width: auto;
    margin: 0 auto;
  }
  .post-thumb {
    width: 100%;
    float: none;
  }
  .toggle {
    width: 100%;
  }
  .row_area {
    margin: 0;
  }
  .site-navigation .menu li {
    padding: 0!important;
  }
  .logo {
    padding: 25px 420px 25px 0;
  }
  #navigate-main {
    width: 100%;
  }
}


/* Tablet View */

@media screen and (max-width:1023px) and (min-width:768px) {
  body.wp-custom-logo .logo {
    padding: 25px 50px 12px 0!important;
  }
  .menu-toggle {
    top: 34px;
  }
  .site-navigation .menu li {
    padding: 0!important;
  }
  .header {
    width: 100%;
    padding: 0;
    position: relative!important;
    background-color: #222933!important;
  }
  .header .container {
    padding: 0 20px 20px 25px;
  }
  #navigate-main {
    width: 100%;
  }
  .site-navigation .menu ul a,
  .site-navigation .menu ul ul a {
    color: #FFF!important;
  }
  .main-navigation ul li a{line-height:inherit;}
  .main-navigation{display:block;}
  #navigation{float:none;}
  .main-navigation button.menu-toggle{text-align:left !important; margin:0 !important; top:30px;}
  .social-icons{margin-top:-15px;}
  .copyright-area{position: relative !important; background-color: #121923 !important;}
}

@media screen and (max-width:1169px) and (min-width:768px) {
  * {
    box-sizing: border-box;
  }
  .center {
    width: auto;
  }
  .container {
    width: auto;
    padding: 0 20px;
  }
  .logo {
    width: auto;
    float: left;
    position: relative;
    text-align: center;
  }
  .content-area {
    width: auto;
    margin: 0;
    padding: 50px 20px;
  }
  #sidebar {
    width: 30%;
  }
  .site-main {
    width: 65%;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  input.search-field,
  .post-password-form input[type="password"] {
    width: 53%;
  }
  .head-info-area .center {
    width: 98%;
  }
  .toggle {
    float: right;
    width: 15%;
    margin-top: 3.8%;
  }
  .logo {
    min-height: inherit;
  }
  .post-password-form input[type="password"] {
    width: 50%!important;
  }
  .row_area {
    margin-left: 0;
  }
  .header-extras {
    margin-top: 20px;
    padding-right: 35px;
  }
  body.wp-custom-logo .logo {
    padding: 35px 30px 35px 0;
  }
  .main-navigation ul li a{padding:0 11px !important;}
  .main-navigation li.menu-item-has-children a:after {right:-12px !important;}
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .post-thumb {
    height: auto;
  }
}

@media screen and (max-width:1169px) and (min-width:981px) {
  html {
    overflow-x: hidden;
  }
  .headertop .header-inner {
    width: auto;
  }
  input.search-field,
  .post-password-form input[type="password"] {
    width: 70%;
  }
  .toggle {
    width: inherit;
  }
  .sitenav ul li a {
    padding: 40px 14px;
  }
}

@media screen and (min-width: 981px) {
  /* Menus */
  .menu-toggle,
  .dropdown-toggle {
    display: none;
  }
  .site-navigation {
    align-items: start;
  }
  .site-navigation .primary-menu,
  .site-navigation .social-menu {
    position: static;
  }
  .site-navigation .menu li {
    position: relative;
    width: auto;
    left: unset;
  }
  .site-navigation .menu ul li:first-child {
    border-top: 0;
  }
  .site-navigation .menu a,
  .site-navigation .menu ul a,
  .site-navigation .menu ul ul a {
    padding: .75em .95em;
  }
  .site-navigation .menu ul {
    position: absolute;
    background-color: #ffffff;
    text-align: left;
    top: 100%;
    left: -9999em;
  }
  .site-navigation .menu li:hover > ul,
  .site-navigation .menu li:focus > ul,
  .site-navigation .menu li.focus > ul {
    left: 0;
  }
  .site-navigation .menu ul li {
    position: relative;
    width: 220px;
  }
  .site-navigation .menu li li:hover > ul,
  .site-navigation .menu li li:focus > ul,
  .site-navigation .menu li li.focus > ul {
    top: 0;
    left: 100%;
  }
  .site-navigation .menu ul a:hover,
  .site-navigation .menu ul a:focus {
    color: #ffdf14;
  }
  .menu-item-has-children > a:after,
  .page_item_has_children > a:after {
    font-family: dashicons;
    content: '\f347';
    vertical-align: bottom;
    margin-left: .25em;
  }
  .menu-item-has-children .menu-item-has-children > a:after,
  .menu-item-has-children .page_item_has_children > a:after,
  .page_item_has_children .menu-item-has-children > a:after,
  .page_item_has_children .page_item_has_children > a:after {
    content: '\f345';
    font-family: dashicons;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .headertop {
    text-align: center;
  }
  .headertop .header-inner {
    width: auto;
  }
  .headertop .header-inner,
  .widget-left,
  .topright {
    width: auto;
    padding: 0;
    float: none;
  }
  .topbar-container {
    float: none;
  }
  .container.menuwrapper {
    background: transparent!important;
  }
  #menubar {
    border-top: 3px solid transparent!important;
  }
  #topmenu {
    float: none;
  }
}

@media screen and (min-width:1024px) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

@media(max-width:1024px) {
	.main-navigation {
		width: 100%;
	}

	.main-navigation button.menu-toggle {
		width: 40px;
		text-align: center;
		margin:0 auto;
		background: transparent;
		border: 0;
		color: #ffffff;
		padding: 10px;
		height: 40px;
		position: relative;
		cursor: pointer;
	}

	.main-navigation button.menu-toggle span.nav-icon {
		float: right;
		background: #fff;
		color: #000;
		height: 43px;
		width: 45px;
		line-height: 43px;
		text-align: center;
		position: absolute;
		right: 20px;
		top: 11px;
		border: 1px solid;
	}

	#primary-menu ul.nav-menu {
		position: absolute;
		width: 100%;
		left: 0;
		box-shadow: 0 0 10px rgb(0 0 0 / 12%);
		background: #ffffff;
		z-index: 99;
		margin-top: 5px;
	}

	.main-navigation button.menu-toggle span.nav-icon:hover {
		background: #6abe52;
		color: #ffffff;
		cursor: pointer;
	}

	.main-navigation.toggled ul li {
		text-align: left;
		line-height: 37px;
		float: left;
		position: relative;
		width: 100%;
	}

	.main-navigation.toggled ul ul,
	.main-navigation.toggled ul ul ul {
		position: relative;
		width: 100%;
		float: left;
		display: block;
		opacity: 0;
		left: 0;
		height: 0;
		box-shadow: none;
	}

	.main-navigation ul ul ul {
		right: 0;
		opacity: 0;
		left: 0;
	}

	.main-navigation.toggled ul li:hover ul,
	.main-navigation.toggled ul li:focus ul,
	.main-navigation.toggled ul li.focus ul {
		display: block;
		opacity: 1;
		height: auto;
	}

	.main-navigation.toggled ul li:hover ul ul,
	.main-navigation.toggled ul li:focus ul ul,
	.main-navigation.toggled ul li.focus ul ul {
		display: block;
		opacity: 0;
		height: 0;
		box-shadow: none;
	}

	.main-navigation.toggled ul  ul li:hover ul,
	.main-navigation.toggled ul  ul  li:focus ul,
	.main-navigation.toggled ul  ul li.focus ul {
		display: block;
		opacity: 1;
		left: 0;
		height: auto;
		box-shadow: none;
	}

	.main-navigation.toggled ul li a {
		padding: 2px 15px;
	}
	.main-navigation ul ul li.menu-item-has-children > a:after {
		content: "\f347";
		font-family: dashicons;
	}
}


@media screen and (max-width: 29.938em) {
.coming-soon-header, .coming-soon-footer, .coming-soon-tem-cont{ position:relative !important;}	
.tem-7-heading2{ width:90% !important;}
.tem-7-heading1, .tem-7-heading2, .tem-7-heading3{padding-left:20px;}
.coming-soon-tem7 .coming-soon-tem-cont {position:relative !important; }
.coming-soon-tem1 .coming-soon-tem1-cont, .coming-soon-tem2 .coming-soon-tem1-cont, .coming-soon-tem3 .coming-soon-tem-cont, .coming-soon-tem5 .coming-soon-tem-cont, .coming-soon-tem6 .coming-soon-tem-cont, .coming-soon-tem8 .coming-soon-tem-cont{position:relative !important; height:100%;}
.coming-soon-tem-counter {width:90% !important;}
.coming-soon-tem3::after, .coming-soon-tem3::before{ display:none;}
.coming-soon-tem4 .coming-soon-tem-cont{ width:100%;}
.coming-soon-tem4 .coming-soon-mid-cont {width:100% !important;}
.coming-soon-tem5 .coming-soon-mid-cont {width:90% !important;}

}

@media screen and (max-width:47.938em) and (min-width:30.000em) {
.tem-7-heading1, .tem-7-heading2, .tem-7-heading3{padding-left:200px;}
.coming-soon-header, .coming-soon-footer, .coming-soon-tem-cont{ position:relative !important;}	
.tem-7-heading2{ width:75% !important;}
.tem-7-heading3{ width:85% !important;}
.coming-soon-tem7 .coming-soon-tem-cont {position:relative !important; }
.coming-soon-tem1 .coming-soon-tem1-cont, .coming-soon-tem2 .coming-soon-tem1-cont, .coming-soon-tem3 .coming-soon-tem-cont, .coming-soon-tem5 .coming-soon-tem-cont, .coming-soon-tem6 .coming-soon-tem-cont, .coming-soon-tem8 .coming-soon-tem-cont{position:relative !important; height:100%;}
.coming-soon-tem-counter {width:70% !important;}
.coming-soon-tem4 .coming-soon-tem-cont{ width:100%;}
.coming-soon-tem4 .coming-soon-mid-cont {width:100% !important;}
.coming-soon-tem5 .coming-soon-mid-cont {width:70% !important;}
}

@media screen and (max-width:63.938em) and (min-width:48.000em) {
.coming-soon-header, .coming-soon-footer, .coming-soon-tem-cont{ position:relative !important;}	
.coming-soon-footer{bottom:50px;}
.tem-7-heading3{ width:85% !important;}
.coming-soon-tem1 .coming-soon-tem1-cont, .coming-soon-tem2 .coming-soon-tem1-cont, .coming-soon-tem3 .coming-soon-tem-cont, .coming-soon-tem5 .coming-soon-tem-cont, .coming-soon-tem6 .coming-soon-tem-cont, .coming-soon-tem8 .coming-soon-tem-cont{position:relative !important; height:100%;}
.coming-soon-tem-counter {width:90% !important;}
.coming-soon-tem3::before{width:55%;}
.coming-soon-tem3::after{left:58%;}
.coming-soon-tem4 .coming-soon-mid-cont {width:90% !important;}
.coming-soon-tem5 .coming-soon-mid-cont {width:90% !important;}
.coming-soon-tem6 .coming-soon-counter-box {width:160px !important; height:145px !important;}
.coming-soon-tem8 .coming-soon-counter-box .elementor-widget-container{width:115px !important; height:115px !important; padding-top:10px !important;}

.coming-soon-tem6 .elementor-background-overlay{ display: block;}
.coming-soon-tem7 .elementor-background-overlay{ display: block;}
}

@media screen and (max-width:72.438em) and (min-width:63.250em) {
.coming-soon-header, .coming-soon-footer, .coming-soon-tem-cont{ position:relative !important;}	
.coming-soon-footer{bottom:50px;}
.tem-7-heading3{ width:85% !important;}
.coming-soon-tem1 .coming-soon-tem1-cont, .coming-soon-tem2 .coming-soon-tem1-cont, .coming-soon-tem3 .coming-soon-tem-cont, .coming-soon-tem5 .coming-soon-tem-cont, .coming-soon-tem6 .coming-soon-tem-cont, .coming-soon-tem8 .coming-soon-tem-cont{position:relative !important; height:100%;}
.coming-soon-tem-counter {width:90% !important;}
.coming-soon-tem5 .coming-soon-mid-cont {width:90% !important;}

.coming-soon-tem6 .elementor-background-overlay{ display: block;}
.coming-soon-tem6 .coming-soon-mid-cont { width:75% !important;}
.coming-soon-counter-tem7{width:60% !important;}
.coming-soon-tem7 .elementor-background-overlay{ display: block;}
}

@media(min-width:1366px) and (max-width:1399px){
.tem-7-heading2 .elementor-heading-title{ font-size:32px !important;}
.tem-7-heading2 .elementor-widget-container{padding: 10px 25px 10px 25px !important;}
.tem-7-heading3 .elementor-widget-container { margin-bottom:20px !important}
.coming-soon-tem-button .elementor-button-link{padding: 20px 200px 20px 200px !important;}
.coming-soon-tem-button .elementor-widget-container{padding:30px 0px 80px 0px !important;}
.coming-soon-tem7 .coming-soon-footer{ padding-bottom:60px !important;}

.coming-soon-tem-counter {width:60% !important; padding:20px 0px 20px 0px !important;}
.coming-soon-title .elementor-heading-title{font-size:66px !important;}
.coming-soon-button .elementor-button-link{padding:20px 250px 20px 250px !important;}
.coming-soon-tem2 .coming-soon-header{ padding:10px 0px !important;}
.coming-soon-tem-counter{margin-top:-30px !important; margin-bottom:-40px !important;}
.coming-soon-tem2 .coming-soon-footer{margin-top:40px !important; padding: 10px 0px 10px 0px !important;}
.coming-soon-title .elementor-heading-title{font-size: 64px !important;}

.coming-soon-tem4 {padding:40px !important;}
.coming-soon-msg .elementor-widget-container{padding:30px 0px 0px 0px !important; margin-bottom: -40px !important;}
.elementor-button-link{padding:20px 200px 20px 200px !important;}
.coming-soon-launch{ margin-bottom:-25px !important;}
.coming-soon-tem4 .coming-soon-mid-cont .elementor-widget-wrap{padding: 20px 0px 0px 0px !important;}

.coming-soon-tem5 .coming-soon-mid-cont {width:60% !important;}
.coming-soon-tem5-counter .elementor-widget-container {padding-top:10px !important;}
.coming-soon-tem5-counter {margin-bottom:-70px !important;}
.coming-soon-tem5 .coming-soon-heading .elementor-widget-container{ padding-top:30px !important;}

.coming-soon-tem6 .coming-soon-counter-box{width:140px !important; height:125px !important;}
.coming-soon-counter-box .elementor-widget-container{ padding:20px !important;}
.coming-soon-tem6{ background-position:center center !important;}

.coming-soon-tem6-title .elementor-heading-title{font-size:66px !important; margin-bottom:-20px;}
.coming-soon-tem6-launch{ margin-bottom:-10px !important;}

.coming-soon-tem1-launch{margin-top:-20px; margin-bottom:0px !important;}
.coming-soon-tem1-counter .elementor-widget-wrap {padding:30px !important;}
.coming-soon-tem1-notify-msg{margin-top:-20px; margin-bottom:0px !important;}
.coming-soon-tem1-title{ font-size:66px !important;}
.coming-soon-tem1-counter {width:50% !important; margin:0 auto !important;}

.coming-soon-tem8 .coming-soon-counter-box .elementor-widget-container{width:115px !important; height:115px !important; padding-top:10px !important;}
.coming-soon-tem8-notify-msg{margin-top:-20px; margin-bottom:0px !important;}
.coming-soon-tem8-msg{margin-top:-30px !important; margin-bottom:-40px !important;}
}